In [17]:
import pandas as pd
import numpy as np

In [164]:
df = pd.read_csv(r'../data\captone_data.csv')

In [244]:
df['user'].to_numpy()

array([1889878, 1342067, 1990814, ..., 1003832,  922065, 1596120],
      shape=(233306,))

In [184]:
love_item = df[df['user'] == 2][['rating', 'item']].sort_values(by='rating', ascending=False).head(1)['item']

In [20]:
top_n=10

item_stats = df.groupby('item').agg(
    count=('rating', 'count'),
    avg_rating=('rating', 'mean')
)
popular_items = item_stats.sort_values(by=['avg_rating', 'count'], ascending=[False, False]).head(top_n)

popular_items

            count  avg_rating
item
DA0101EN     8303         3.0
CO0101EN     4480         3.0
BD0141EN     3044         3.0
SC0101EN     2721         3.0
CC0201EN     2321         3.0
BD0145EN     1015         3.0
BD0223EN      818         3.0
CC0150EN      560         3.0
SW0101EN      322         3.0
ML0120ENv3    305         3.0

In [22]:
user_item_matrix = df.pivot_table(index='user', columns='item', values='rating').fillna(0)
user_item_matrix[user_item_matrix['DA0101EN'] == 3]

item,AI0111EN,BC0101EN,BC0201EN,BC0202EN,BD0101EN,BD0111EN,BD0115EN,BD0121EN,BD0123EN,BD0131EN,...,SW0201EN,TA0105,TA0105EN,TA0106EN,TMP0101EN,TMP0105EN,TMP0106,TMP107,WA0101EN,WA0103EN
user,,,,,,,,,,,,,,,,,,,,,
2,0.0,3.0,0.0,0.0,3.0,2.0,0.0,2.0,2.0,3.0,...,0.0,2.0,0.0,3.0,0.0,2.0,2.0,0.0,3.0,0.0
2191,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3450,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2099019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2100030,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2100731,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2101262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [165]:
items = df['item'].unique()
rs = []
for i in items:
    result = [i[j:j+2] for j in range(0, len(i), 2)]
    types = ' '.join(result)
    rs.append(types)
rs

['CC 01 01 EN',
 'CL 01 01 EN',
 'ML 01 20 EN v3',
 'BD 02 11 EN',
 'DS 01 01 EN',
 'ST 01 01 EN',
 'DS 03 01 EN',
 'DS 01 05 EN',
 'BD 01 41 EN',
 'CO 02 01 EN',
 'CB 01 03 EN',
 'DV 01 01 EN',
 'DS 01 03 EN',
 'BD 01 23 EN',
 'BC 01 01 EN',
 'TA 01 05 EN',
 'ML 01 51 EN',
 'BD 01 01 EN',
 'BD 01 11 EN',
 'BC 02 01 EN',
 'ML 01 22 EN v1',
 'BD 01 31 EN',
 'BD 01 21 EN',
 'PY 01 01 EN',
 'BD 01 45 EN',
 'ML 01 01 EN',
 'CO 03 01 EN',
 'ML 01 01 EN v3',
 'DB 01 51 EN',
 'CO 01 01 EN',
 'RP 01 01 EN',
 'SC 01 01 EN',
 'PA 01 01 EN',
 'LB 01 01 EN v1',
 'ML 01 03 EN',
 'CC 01 50 EN',
 'DS 01 10 EN',
 'DA 01 01 EN',
 'ML 01 22 EN',
 'ML 01 15 EN',
 'ML 01 11 EN',
 'ML 01 09 EN',
 'BD 02 23 EN',
 'BC 02 02 EN',
 'CC 01 03 EN',
 'CO M0 01 EN',
 'DB 01 01 EN',
 'CN SC 02 EN',
 'DV 01 51 EN',
 'RP 01 05 EN',
 'LB 01 09 EN v1',
 'SC 01 05 EN',
 'RP 01 03',
 'WA 01 01 EN',
 'RA VS CT ES T1',
 'RP 01 51 EN',
 'CO 04 01 EN',
 'SC 01 03 EN',
 'LB 01 11 EN',
 'DS 01 32 EN',
 'CB 01 05 EN v1',
 'CC 02 01 EN',
 'ML 01 20 EN v2',
 'BD 01 43 EN',
 'LB 01 05 EN v1',
 'ML 02 01 EN',
 'BD 01 15 EN',
 'BD 02 21 EN',
 'ML 01 20 EN',
 'BD 01 37 EN',
 'DA I1 01 EN',
 'RP 01 03 EN',
 'BD 02 12 EN',
 'BD 01 35 EN',
 'CC 02 50 EN',
 'TA 01 05',
 'DS 03 21 EN',
 'BD 01 33 EN',
 'LB 01 07 EN v1',
 'ML 01 22 EN v3',
 'SE CM 03 EN',
 'TM P0 10 5E N',
 'BD 01 51 EN',
 'PA 01 09 EN',
 'DJ 01 01 EN',
 'CP 01 01 EN',
 'CB 01 01 EN',
 'EE 01 01 EN',
 'CC 02 10 EN',
 'AI 01 11 EN',
 'DW 01 01 EN',
 'HC C1 05 EN',
 'LB 01 03 EN v1',
 'SW 01 01 EN',
 'DS 02 01 EN',
 'HC C1 04 EN',
 'SW 02 01 EN',
 'TA 01 06 EN',
 'DE 02 05 EN',
 'IT 01 01 EN',
 'OS 01 01 EN',
 'BD 01 53 EN',
 'WA 01 03 EN',
 'DP 01 01 EN',
 'TM P0 10 6',
 'CB 02 01 EN',
 'GP XX 0T 0F EN',
 'DB 01 11 EN',
 'PH PM 00 2E N',
 'TM P1 07',
 'DA 02 01 EN',
 'ST 02 01 EN',
 'DX 01 06 EN',
 'CC 02 71 EN',
 'DX 01 07 EN',
 'BE NT ES T4',
 'PA 01 07 EN',
 'PA 01 03 EN',
 'DA 01 51 EN',
 'ST 03 01 EN',
 'TM P0 10 1E N',
 'DB 01 13 EN',
 'DX 01 08 EN',
 'DS 01 07',
 'DB 01 15 EN',
 'GP XX 0Q R3 EN']

In [166]:
import re

def split_code(item):
    # C√°c tr∆∞·ªùng h·ª£p ƒë·∫∑c bi·ªát c·∫ßn x·ª≠ l√Ω th·ªß c√¥ng
    exceptions = {
        'RAVSCTEST1': 'RAVSC TEST 1',
        'BENTEST4': 'BEN TEST 4',
        'GPXX0QR3EN': 'GPXX 0 QR3 EN',
        'GPXX0T0FEN': 'GPXX 0 T0F EN'
    }
    if item in exceptions:
        return exceptions[item]

    # T√°ch EN v√† vX n·∫øu c√≥
    item = re.sub(r'(EN)(v\d+)?$', r' \1 \2', item)

    # T√°ch prefix ch·ªØ ƒë·∫ßu kh·ªèi ph·∫ßn c√≤n l·∫°i
    item = re.sub(r'^([A-Z]+)([^A-Z].*)', r'\1 \2', item)

    # üëâ B·ªï sung: T√°ch c·ª•m s·ªë 4 ch·ªØ s·ªë th√†nh 2 c·ª•m 2 ch·ªØ s·ªë
    item = re.sub(r'\b(\d{2})(\d{2})\b', r'\1 \2', item)

    # T√°ch ph·∫ßn c√≤n l·∫°i th√†nh c√°c kh·ªëi logic
    tokens = re.findall(r'[A-Z]+|\d+|[A-Z]+\d+|\d+[A-Z]+|EN|v\d+', item)

    return ' '.join(filter(None, tokens))

In [167]:
rs = df['item'].unique().tolist()
for i, item in enumerate(rs):
    rs[i] = split_code(item)

In [158]:
rs

['DS 01 05 EN',
 'CB 01 03 EN',
 'BD 01 01 EN',
 'ML 01 51 EN',
 'ML 01 09 EN',
 'PY 01 01 EN',
 'CNSC 02 EN',
 'DS 01 01 EN',
 'BD 02 11 EN',
 'DB 01 01 EN',
 'TMP 01 06',
 'BD 01 11 EN',
 'TMP 01 05 EN',
 'ML 01 15 EN',
 'DW 01 01 EN',
 'ML 01 22 EN v1',
 'BD 01 35 EN',
 'CO 04 01 EN',
 'DV 01 51 EN',
 'ST 01 01 EN',
 'BC 02 01 EN',
 'CC 02 01 EN',
 'BD 01 21 EN',
 'BD 01 23 EN',
 'DA 01 01 EN',
 'CC 01 03 EN',
 'ML 01 01 EN',
 'DB 01 51 EN',
 'RP 01 01 EN',
 'DS 01 03 EN',
 'LB 01 01 EN v1',
 'CL 01 01 EN',
 'ML 01 22 EN',
 'BD 01 15 EN',
 'CC 01 01 EN',
 'BD 01 37 EN',
 'DS 01 10 EN',
 'DAI 101 EN',
 'CC 02 50 EN',
 'CO 02 01 EN',
 'CO 03 01 EN',
 'RP 01 05 EN',
 'DS 03 01 EN',
 'DS 01 32 EN',
 'BD 01 51 EN',
 'SC 01 01 EN',
 'SC 01 03 EN',
 'PA 01 01 EN',
 'ML 01 01 EN v3',
 'ML 01 03 EN',
 'BD 01 41 EN',
 'ML 02 01 EN',
 'ML 01 20 EN v2',
 'SC 01 05 EN',
 'DS 02 01 EN',
 'DV 01 01 EN',
 'TA 01 05 EN',
 'BC 01 01 EN',
 'CO 01 01 EN',
 'OS 01 01 EN',
 'BD 01 45 EN',
 'PHPM 002 EN',
 'LB 01 07 EN v1',
 'EE 01 01 EN',
 'BD 01 31 EN',
 'BD 01 33 EN',
 'CP 01 01 EN',
 'RP 01 51 EN',
 'BD 02 12 EN',
 'WA 01 01 EN',
 'ML 01 20 EN',
 'BD 01 53 EN',
 'BD 01 43 EN',
 'DS 03 21 EN',
 'LB 01 11 EN',
 'RP 01 03',
 'DE 02 05 EN',
 'LB 01 05 EN v1',
 'IT 01 01 EN',
 'ML 01 11 EN',
 'CB 01 05 EN v1',
 'TA 01 05',
 'DP 01 01 EN',
 'BC 02 02 EN',
 'ML 01 22 EN v3',
 'BD 02 23 EN',
 'HCC 104 EN',
 'DJ 01 01 EN',
 'PA 01 03 EN',
 'BD 02 21 EN',
 'CC 02 71 EN',
 'RP 01 03 EN',
 'ML 01 20 EN v3',
 'CC 01 50 EN',
 'DB 01 13 EN',
 'AI 01 11 EN',
 'CC 02 10 EN',
 'DB 01 11 EN',
 'LB 01 03 EN v1',
 'SW 01 01 EN',
 'WA 01 03 EN',
 'TA 01 06 EN',
 'PA 01 09 EN',
 'RAVSC TEST 1',
 'LB 01 09 EN v1',
 'SECM 03 EN',
 'DA 01 51 EN',
 'DA 02 01 EN',
 'SW 02 01 EN',
 'COM 001 EN',
 'CB 01 01 EN',
 'PA 01 07 EN',
 'BEN TEST 4',
 'TMP 01 01 EN',
 'DB 01 15 EN',
 'DX 01 07 EN',
 'TMP 107',
 'DS 01 07',
 'ST 02 01 EN',
 'HCC 105 EN',
 'CB 02 01 EN',
 'DX 01 08 EN',
 'DX 01 06 EN',
 'ST 03 01 EN',
 'GPXX 0 T0F EN',
 'GPXX 0 QR3 EN']

In [241]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(rs)
print(vectorizer.get_feature_names_out())
print(len(vectorizer.get_feature_names_out()))
print(X.toarray().shape)

['001' '002' '01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '101' '104'
 '105' '107' '11' '12' '13' '15' '20' '21' '22' '23' '31' '32' '33' '35'
 '37' '41' '43' '45' '50' '51' '53' '71' 'ai' 'bc' 'bd' 'ben' 'cb' 'cc'
 'cl' 'cnsc' 'co' 'com' 'cp' 'da' 'dai' 'db' 'de' 'dj' 'dp' 'ds' 'dv' 'dw'
 'dx' 'ee' 'en' 'gpxx' 'hcc' 'it' 'lb' 'ml' 'os' 'pa' 'phpm' 'py' 'qr3'
 'ravsc' 'rp' 'sc' 'secm' 'st' 'sw' 't0f' 'ta' 'test' 'tmp' 'v1' 'v2' 'v3'
 'wa']
83
(126, 83)

In [249]:
df['user'].index.to_numpy()

array([     0,      1,      2, ..., 233303, 233304, 233305],
      shape=(233306,))

In [237]:
from sklearn.metrics.pairwise import cosine_similarity
simi_matrix = cosine_similarity(X)
pd.DataFrame(simi_matrix)

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
0,1.000000,0.256711,0.119522,0.042567,0.337055,0.286996,0.174279,0.164180,0.140947,0.161396,...,0.139240,0.157791,0.140707,0.152909,0.298045,0.127930,0.123338,0.109593,0.138469,0.034436
1,0.256711,1.000000,0.094793,0.033760,0.267320,0.227618,0.138222,0.130212,0.111785,0.128004,...,0.110432,0.125145,0.111595,0.121273,0.236381,0.101462,0.097820,0.086919,0.109820,0.027312
2,0.119522,0.094793,1.000000,0.026993,0.124461,0.105976,0.070879,0.066772,0.057323,0.065640,...,0.056629,0.064174,0.057226,0.062188,0.110056,0.052029,0.050161,0.034748,0.056315,0.021837
3,0.042567,0.033760,0.026993,1.000000,0.044326,0.037743,0.039359,0.037079,0.271537,0.301310,...,0.031446,0.035636,0.031777,0.034533,0.039196,0.028892,0.027855,0.000000,0.031272,0.027511
4,0.337055,0.267320,0.124461,0.044326,1.000000,0.298857,0.757780,0.713868,0.146771,0.168066,...,0.144994,0.164312,0.146522,0.159228,0.310362,0.133217,0.128435,0.619344,0.144191,0.035859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,0.127930,0.101462,0.052029,0.028892,0.133217,0.113432,0.075866,0.071469,0.061356,0.070258,...,0.060613,0.068688,0.061251,0.066563,0.117799,1.000000,0.053690,0.037193,0.451033,0.023374
122,0.123338,0.097820,0.050161,0.027855,0.128435,0.109360,0.073142,0.068904,0.059153,0.067736,...,0.058437,0.066222,0.059053,0.064174,0.113570,0.053690,1.000000,0.035858,0.058113,0.022534
123,0.109593,0.086919,0.034748,0.000000,0.619344,0.097173,0.499284,0.470351,0.040977,0.046923,...,0.552926,0.045874,0.040908,0.044455,0.100914,0.037193,0.035858,1.000000,0.040257,0.000000
124,0.138469,0.109820,0.056315,0.031272,0.144191,0.122776,0.082115,0.077357,0.066410,0.076045,...,0.065606,0.074346,0.066297,0.072046,0.127503,0.451033,0.058113,0.040257,1.000000,0.025299
125,0.034436,0.027312,0.021837,0.027511,0.035859,0.030534,0.031842,0.029997,0.025752,0.029488,...,0.025440,0.028829,0.025708,0.027937,0.031709,0.023374,0.022534,0.000000,0.025299,1.000000

In [239]:
df1 = pd.DataFrame(simi_matrix, index=items, columns=items)
df1.to_csv('../data\similarity_matrix\item-item.csv')

In [212]:
love_item = df[df['user'] == 2][['rating', 'item']].sort_values(by='rating', ascending=False)['item'].iloc[0]
love_item

'LB0105ENv1'

In [234]:
dic = df1[love_item].sort_values(ascending=False)[1:6].to_dict()
dic

{'LB0101ENv1': 0.831213889318374,
 'LB0103ENv1': 0.7442907434093149,
 'LB0107ENv1': 0.6778661336128362,
 'LB0109ENv1': 0.6650473115223553,
 'CB0105ENv1': 0.638720494970461}

In [235]:
list(dic.keys())

['LB0101ENv1', 'LB0103ENv1', 'LB0107ENv1', 'LB0109ENv1', 'CB0105ENv1']

In [ ]:
df = pd.read_csv('captone_data.csv')
items = df['item'].unique()
types = []
for j, s in enumerate(items):
    result = [s[i:i+2] for i in range(0, len(s), 2)]
    types.append('|'.join(result))
print(types)
df['types'] = types

['CC|01|01|EN', 'CL|01|01|EN', 'ML|01|20|EN|v3', 'BD|02|11|EN', 'DS|01|01|EN', 'ST|01|01|EN', 'DS|03|01|EN', 'DS|01|05|EN', 'BD|01|41|EN', 'CO|02|01|EN', 'CB|01|03|EN', 'DV|01|01|EN', 'DS|01|03|EN', 'BD|01|23|EN', 'BC|01|01|EN', 'TA|01|05|EN', 'ML|01|51|EN', 'BD|01|01|EN', 'BD|01|11|EN', 'BC|02|01|EN', 'ML|01|22|EN|v1', 'BD|01|31|EN', 'BD|01|21|EN', 'PY|01|01|EN', 'BD|01|45|EN', 'ML|01|01|EN', 'CO|03|01|EN', 'ML|01|01|EN|v3', 'DB|01|51|EN', 'CO|01|01|EN', 'RP|01|01|EN', 'SC|01|01|EN', 'PA|01|01|EN', 'LB|01|01|EN|v1', 'ML|01|03|EN', 'CC|01|50|EN', 'DS|01|10|EN', 'DA|01|01|EN', 'ML|01|22|EN', 'ML|01|15|EN', 'ML|01|11|EN', 'ML|01|09|EN', 'BD|02|23|EN', 'BC|02|02|EN', 'CC|01|03|EN', 'CO|M0|01|EN', 'DB|01|01|EN', 'CN|SC|02|EN', 'DV|01|51|EN', 'RP|01|05|EN', 'LB|01|09|EN|v1', 'SC|01|05|EN', 'RP|01|03', 'WA|01|01|EN', 'RA|VS|CT|ES|T1', 'RP|01|51|EN', 'CO|04|01|EN', 'SC|01|03|EN', 'LB|01|11|EN', 'DS|01|32|EN', 'CB|01|05|EN|v1', 'CC|02|01|EN', 'ML|01|20|EN|v2', 'BD|01|43|EN', 'LB|01|05|EN|v1', 'ML|02|01|EN', 'BD|01|15|EN', 'BD|02|21|EN', 'ML|01|20|EN', 'BD|01|37|EN', 'DA|I1|01|EN', 'RP|01|03|EN', 'BD|02|12|EN', 'BD|01|35|EN', 'CC|02|50|EN', 'TA|01|05', 'DS|03|21|EN', 'BD|01|33|EN', 'LB|01|07|EN|v1', 'ML|01|22|EN|v3', 'SE|CM|03|EN', 'TM|P0|10|5E|N', 'BD|01|51|EN', 'PA|01|09|EN', 'DJ|01|01|EN', 'CP|01|01|EN', 'CB|01|01|EN', 'EE|01|01|EN', 'CC|02|10|EN', 'AI|01|11|EN', 'DW|01|01|EN', 'HC|C1|05|EN', 'LB|01|03|EN|v1', 'SW|01|01|EN', 'DS|02|01|EN', 'HC|C1|04|EN', 'SW|02|01|EN', 'TA|01|06|EN', 'DE|02|05|EN', 'IT|01|01|EN', 'OS|01|01|EN', 'BD|01|53|EN', 'WA|01|03|EN', 'DP|01|01|EN', 'TM|P0|10|6', 'CB|02|01|EN', 'GP|XX|0T|0F|EN', 'DB|01|11|EN', 'PH|PM|00|2E|N', 'TM|P1|07', 'DA|02|01|EN', 'ST|02|01|EN', 'DX|01|06|EN', 'CC|02|71|EN', 'DX|01|07|EN', 'BE|NT|ES|T4', 'PA|01|07|EN', 'PA|01|03|EN', 'DA|01|51|EN', 'ST|03|01|EN', 'TM|P0|10|1E|N', 'DB|01|13|EN', 'DX|01|08|EN', 'DS|01|07', 'DB|01|15|EN', 'GP|XX|0Q|R3|EN']

ValueError: Length of values (126) does not match length of index (233306)

:

:

: