In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'../data/oversampling_data.csv')

In [13]:
top_n=10

item_stats = df.groupby('item').agg(
    count=('rating', 'count'),
    avg_rating=('rating', 'mean')
)
popular_items = item_stats.sort_values(by=['avg_rating', 'count'], ascending=[False, False]).head(top_n)

popular_items

            count  avg_rating
item
DA0101EN     8303         3.0
CO0101EN     4480         3.0
BD0141EN     3044         3.0
SC0101EN     2721         3.0
CC0201EN     2321         3.0
BD0145EN     1015         3.0
BD0223EN      818         3.0
CC0150EN      560         3.0
SW0101EN      322         3.0
ML0120ENv3    305         3.0

In [ ]:
user_item_matrix = df.pivot_table(index='user', columns='item', values='rating').fillna(0)
user_item_matrix[user_item_matrix['DA0101EN'] == 3]

item,AI0111EN,BC0101EN,BC0201EN,BC0202EN,BD0101EN,BD0111EN,BD0115EN,BD0121EN,BD0123EN,BD0131EN,...,SW0201EN,TA0105,TA0105EN,TA0106EN,TMP0101EN,TMP0105EN,TMP0106,TMP107,WA0101EN,WA0103EN
user,,,,,,,,,,,,,,,,,,,,,
2,0.0,3.0,0.0,0.0,3.0,2.0,0.0,2.0,2.0,3.0,...,0.0,2.0,0.0,3.0,0.0,2.0,2.0,0.0,3.0,0.0
2191,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3450,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2099019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2100030,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2100731,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2101262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
items = df['item'].unique()
rs = []
for i in items:
    result = [i[j:j+2] for j in range(0, len(i), 2)]
    types = ' '.join(result)
    rs.append(types)
print(len(rs))

126

In [45]:
df

           user        item  rating           types
0       1889878    CC0101EN     3.0     CC|01|01|EN
1       1342067    CL0101EN     3.0     CL|01|01|EN
2       1990814  ML0120ENv3     3.0  ML|01|20|EN|v3
3        380098    BD0211EN     3.0     BD|02|11|EN
4        779563    DS0101EN     3.0     DS|01|01|EN
...         ...         ...     ...             ...
233301  1540125    DS0101EN     3.0     DS|01|01|EN
233302  1250651    PY0101EN     3.0     PY|01|01|EN
233303  1003832  CB0105ENv1     3.0  CB|01|05|EN|v1
233304   922065    BD0141EN     3.0     BD|01|41|EN
233305  1596120    DS0301EN     3.0     DS|03|01|EN

[233306 rows x 4 columns]

In [50]:
x = df['types'].str.replace('|', ' ')
x

0            CC 01 01 EN
1            CL 01 01 EN
2         ML 01 20 EN v3
3            BD 02 11 EN
4            DS 01 01 EN
               ...
233301       DS 01 01 EN
233302       PY 01 01 EN
233303    CB 01 05 EN v1
233304       BD 01 41 EN
233305       DS 03 01 EN
Name: types, Length: 233306, dtype: object

In [27]:
len(rs)

126

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(rs)
# print(X)
y = vectorizer.transform(['DS 01 01 EN'])
print(y)
from sklearn.metrics.pairwise import cosine_similarity
simi_matrix = cosine_similarity(X)
simi_matrix
# print(X.shape)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3 stored elements and shape (1, 94)>
  Coords	Values
  (0, 1)	0.5437948425628066
  (0, 55)	0.8025966905106432
  (0, 60)	0.24520546809452504

In [18]:
X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 485 stored elements and shape (126, 94)>

In [13]:
df1 = pd.DataFrame(simi_matrix, index=items, columns=items)
df1

,CC0101EN,CL0101EN,ML0120ENv3,BD0211EN,DS0101EN,ST0101EN,DS0301EN,DS0105EN,BD0141EN,CO0201EN,...,PA0107EN,PA0103EN,DA0151EN,ST0301EN,TMP0101EN,DB0113EN,DX0108EN,DS0107,DB0115EN,GPXX0QR3EN
CC0101EN,1.000000,0.260747,0.122031,0.044440,0.341816,0.291350,0.177790,0.167517,0.143864,0.169205,...,0.145000,0.161015,0.147466,0.156046,0.0,0.130602,0.125921,0.113661,0.141340,0.025579
CL0101EN,0.260747,1.000000,0.096907,0.035291,0.271443,0.231367,0.141187,0.133029,0.114245,0.134370,...,0.115148,0.127865,0.117106,0.123919,0.0,0.103714,0.099996,0.090261,0.112241,0.020312
ML0120ENv3,0.122031,0.096907,1.000000,0.028258,0.127037,0.108281,0.072866,0.068656,0.058962,0.069348,...,0.059427,0.065991,0.060438,0.063954,0.0,0.053526,0.051608,0.036137,0.057927,0.016264
BD0211EN,0.044440,0.035291,0.028258,1.000000,0.046263,0.039433,0.041169,0.038791,0.272576,0.310723,...,0.033577,0.037285,0.034148,0.036134,0.0,0.030242,0.029159,0.000000,0.032729,0.020488
DS0101EN,0.341816,0.271443,0.127037,0.046263,1.000000,0.303302,0.758323,0.714505,0.149766,0.176147,...,0.150949,0.167620,0.153515,0.162447,0.0,0.135960,0.131087,0.633822,0.147138,0.026628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DB0113EN,0.130602,0.103714,0.053526,0.030242,0.135960,0.115886,0.077984,0.073478,0.063103,0.074218,...,0.063601,0.070626,0.064683,0.068446,0.0,1.000000,0.055233,0.038675,0.452034,0.017407
DX0108EN,0.125921,0.099996,0.051608,0.029159,0.131087,0.111733,0.075189,0.070844,0.060841,0.071558,...,0.061322,0.068095,0.062364,0.065993,0.0,0.055233,1.000000,0.037289,0.059774,0.016783
DS0107,0.113661,0.090261,0.036137,0.000000,0.633822,0.100854,0.511391,0.481841,0.042602,0.050106,...,0.532787,0.047681,0.043669,0.046209,0.0,0.038675,0.037289,1.000000,0.041854,0.000000
DB0115EN,0.141340,0.112241,0.057927,0.032729,0.147138,0.125414,0.084396,0.079519,0.068291,0.080320,...,0.068831,0.076433,0.070001,0.074074,0.0,0.452034,0.059774,0.041854,1.000000,0.018838
GPXX0QR3EN,0.025579,0.020312,0.016264,0.020488,0.026628,0.022696,0.023696,0.022327,0.019174,0.022552,...,0.019326,0.021460,0.019654,0.020798,0.0,0.017407,0.016783,0.000000,0.018838,1.000000

In [41]:
df = pd.read_csv('captone_data.csv')
items = df['item'].unique()
types = []
for j, s in enumerate(items):
    result = [s[i:i+2] for i in range(0, len(s), 2)]
    types.append('|'.join(result))
print(types)
df['types'] = types

['CC|01|01|EN', 'CL|01|01|EN', 'ML|01|20|EN|v3', 'BD|02|11|EN', 'DS|01|01|EN', 'ST|01|01|EN', 'DS|03|01|EN', 'DS|01|05|EN', 'BD|01|41|EN', 'CO|02|01|EN', 'CB|01|03|EN', 'DV|01|01|EN', 'DS|01|03|EN', 'BD|01|23|EN', 'BC|01|01|EN', 'TA|01|05|EN', 'ML|01|51|EN', 'BD|01|01|EN', 'BD|01|11|EN', 'BC|02|01|EN', 'ML|01|22|EN|v1', 'BD|01|31|EN', 'BD|01|21|EN', 'PY|01|01|EN', 'BD|01|45|EN', 'ML|01|01|EN', 'CO|03|01|EN', 'ML|01|01|EN|v3', 'DB|01|51|EN', 'CO|01|01|EN', 'RP|01|01|EN', 'SC|01|01|EN', 'PA|01|01|EN', 'LB|01|01|EN|v1', 'ML|01|03|EN', 'CC|01|50|EN', 'DS|01|10|EN', 'DA|01|01|EN', 'ML|01|22|EN', 'ML|01|15|EN', 'ML|01|11|EN', 'ML|01|09|EN', 'BD|02|23|EN', 'BC|02|02|EN', 'CC|01|03|EN', 'CO|M0|01|EN', 'DB|01|01|EN', 'CN|SC|02|EN', 'DV|01|51|EN', 'RP|01|05|EN', 'LB|01|09|EN|v1', 'SC|01|05|EN', 'RP|01|03', 'WA|01|01|EN', 'RA|VS|CT|ES|T1', 'RP|01|51|EN', 'CO|04|01|EN', 'SC|01|03|EN', 'LB|01|11|EN', 'DS|01|32|EN', 'CB|01|05|EN|v1', 'CC|02|01|EN', 'ML|01|20|EN|v2', 'BD|01|43|EN', 'LB|01|05|EN|v1', 'ML|02|01|EN', 'BD|01|15|EN', 'BD|02|21|EN', 'ML|01|20|EN', 'BD|01|37|EN', 'DA|I1|01|EN', 'RP|01|03|EN', 'BD|02|12|EN', 'BD|01|35|EN', 'CC|02|50|EN', 'TA|01|05', 'DS|03|21|EN', 'BD|01|33|EN', 'LB|01|07|EN|v1', 'ML|01|22|EN|v3', 'SE|CM|03|EN', 'TM|P0|10|5E|N', 'BD|01|51|EN', 'PA|01|09|EN', 'DJ|01|01|EN', 'CP|01|01|EN', 'CB|01|01|EN', 'EE|01|01|EN', 'CC|02|10|EN', 'AI|01|11|EN', 'DW|01|01|EN', 'HC|C1|05|EN', 'LB|01|03|EN|v1', 'SW|01|01|EN', 'DS|02|01|EN', 'HC|C1|04|EN', 'SW|02|01|EN', 'TA|01|06|EN', 'DE|02|05|EN', 'IT|01|01|EN', 'OS|01|01|EN', 'BD|01|53|EN', 'WA|01|03|EN', 'DP|01|01|EN', 'TM|P0|10|6', 'CB|02|01|EN', 'GP|XX|0T|0F|EN', 'DB|01|11|EN', 'PH|PM|00|2E|N', 'TM|P1|07', 'DA|02|01|EN', 'ST|02|01|EN', 'DX|01|06|EN', 'CC|02|71|EN', 'DX|01|07|EN', 'BE|NT|ES|T4', 'PA|01|07|EN', 'PA|01|03|EN', 'DA|01|51|EN', 'ST|03|01|EN', 'TM|P0|10|1E|N', 'DB|01|13|EN', 'DX|01|08|EN', 'DS|01|07', 'DB|01|15|EN', 'GP|XX|0Q|R3|EN']

ValueError: Length of values (126) does not match length of index (233306)